body {
    background-color: #010101;
    color: #f3f3f3;
}

header {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 0 0 0.25rem 0;
    border-color: #3a3a3c;
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: normal;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    flex-direction: column;
    font-family: "DM Mono", monospace;
}

main > div {
    padding: 0.5rem 0 0 0;
}

.wordle-row {
    display: flex;
}

.wordle-row.active-row > .wordle-cell {
    border: solid transparent;
}

.wordle-row > .wordle-cell {
    border: solid #3a3a3c;
    display: inline-flex;
}

.wordle-cell {
    width: 5rem;
    height: 5rem;
    margin: 0.125rem;
    justify-content: center;
    align-items: center;
    color: #f3f3f3;
    font-size: 2rem;
    text-transform: uppercase;
}

.score-correct {
    background-color: #538d4e;
}

.score-half-correct {
    background-color: #b59f3b;
}

.score-wrong {
    background-color: #3a3a3c;
}

#guess {
    text-transform: uppercase;
    font-family: "DM Mono", monospace;
    background-color: transparent;
    border: #3a3a3c solid;
    color: #f3f3f3;
    text-align: center;
}

button {
    font-family: "DM Mono", monospace;
}

.message-box-word {
    text-transform: uppercase;
}
